# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
migrations/

media/image
files

# Sphinx documentation
docs/_build/
#idea
.idea/
*.iml

#git
#.git/
#db.sqlite3
# celery
*.pid
celerybeat-schedule
